{% extends "base.html" %}

{% block title %}
About - Delamain Corporation
{% endblock %}

{% block content %}
<h2 class="subtitle">About Delamain Corporation</h2>
<p class="content has-text-justified">
    Welcome to Delamain Corporation! We specialize in fleet management systems and provide top-notch solutions
    for autonomous vehicle operations. Our mission is to deliver efficient, safe, and
    innovative mobility solutions to meet the needs of our customers.
</p>

<p class="content has-text-justified">
    For more information, contact us at <a href="mailto:example@example.com">info@delamaincorp.com</a>.
</p>
{% endblock %}
