{% extends "base.html" %}

{% block title %}
About - HackaTUM Dream Team
{% endblock %}

{% block content %}
<h2 class="subtitle">About HackaTUM Dream Team</h2>
<p class="content has-text-justified">
    Hey there! We’re a team of four computer science students here at TUM diving headfirst into the HackaTUM 2024 challenge. This year, we’re tackling the Deutsche Telekom "Connected Mobility" challenge, crafting a futuristic solution to manage a fleet of robotaxis in the city of Munich.
</p>

<p class="content has-text-justified">
    Armed with our laptops, APIs, and some really strong coffee, we’re designing algorithms that not only get you from point A to B fast but also keep the planet happy by optimizing energy and reducing our footprint.
</p>

{% endblock %}
