{% extends "base.html" %}

{% block title %}
Delamain Corporation - Fleet Manager
{% endblock %}

{% block content %}
<h2 class="subtitle">All Scenarios: </h2>
<div>
    <div class="field is-grouped">
        <!-- TODO validate min 1 max 50 for vehicles and 1 and 200 for customers -->
        <p class="control">
            <input id="vehicles_post" class="input" type="number" placeholder="Vehicles">
        </p>
        <p class="control">
            <input id="customers_post" class="input" type="number" placeholder="Customers">
        </p>
        <p class="control">
            <button id="something" class="button" hx-post="/api/scenario" hx-vars="js:{...getScenarioValues()}"
                    hx-target="#scenarios" hx-swap="beforeend" hx-on="afterRequest: window.location.reload()"s>
                Add new Scenario
            </button>
        </p>
    </div>
</div>
<div id="scenarios" class="m-2">
    {% for scenario in scenarios %}
    <div class="scenario-container">

            <a class="scenario-box" href="{{ url_for('view_scenario', id=scenario.id) }}"><p  class="scenario-link">
                Scenario: {{ scenario.id }} with {{ scenario.vehicles|length }} Vehicles
                and {{ scenario.customers|length }} Customers</p>
            </a>

        <button class="delete"
                hx-delete="/api/scenario/{{ scenario.id }}"
                hx-target="closest .scenario-container"
                hx-swap="outerHTML">
        </button>
    </div>
    {% endfor %}
</div>
<script>
    function getScenarioValues() {
        return {
            vehicles: document.getElementById('vehicles_post').value,
            customers: document.getElementById('customers_post').value
        }
    }
</script>
{% endblock %}